<!DOCTYPE html>
<html>
<head>
  <title>Vigilante</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vigilante" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'shared/nav' %>
 <div class="container">
   <div data-yield="main">
     <script type="text/javascript">
       Vigilante.run();
       <%= render 'shared/footer' %>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
       <script src="jquery.backstretch.min.js"></script>
     </script>
   </div>
 </div>




</body>
</html>
